.restaurantcard{
    width: 200px;
    padding:5px;
    margin: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
    

}
.restaurantcardimage{
    width: 200px;
}
.restaurantcard > h2 {
    padding: 0;
    margin: 3;
}
.restaurantcard > h4 {
    margin: 3px;
}
.restaurantcard > img {
    width: 100%;
}
.restaurantcard-name{
    text-align: center;
}
.restaurantcard-rating{
    text-align: center;
}
