.header{
    display:  flex;
    justify-content: space-between;
}
.logo{
    width: 20px;
}
.header-links > ul{
    list-style-type: none;   
    display: flex; 
}
.header-links > ul > li {
    padding: 10px;
}

